<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Avtoparts Detail</title>
</head>
<body>
<h1>{{avtoparts_id.title}}</h1>
<img src="{{avtoparts_id.image.url}}" alt="">
<p>{{avtoparts_id.cost}}</p>
<p>{{avtoparts_id.Email}}</p>
<p>{{avtoparts_id.tel_number}}</p>
<p>{{avtoparts_id.car_brand}}</p>
<p>{{avtoparts_id.year_of_release}}</p>
<p>{{avtoparts_id.description}}</p>
<iframe src="{{avtoparts_id.review_of_the_car}}" frameborder="0"></iframe>
<iframe src="{{avtoparts_id.review_of_auto_parts}}" frameborder="0"></iframe>
<p>{{avtoparts_id.created_at}}</p>
<button><a href="/avtoparts_detail/{{ avtoparts_id.id }}/delete/">Удалить</a></button>
<button><a href="/avtoparts_detail/{{ avtoparts_id.id }}/update/">Изменить</a></button>
</body>
</html>